@import url('https://fonts.googleapis.com/css2?family=Inter&family=JetBrains+Mono:wght@700&family=Poppins&family=Public+Sans:wght@400;700&family=Sofia+Sans:wght@700&display=swap');

:root{
  --body-font: 20px;
  --big-body-font: 24px;
  --medium-header: 40px;
  --large-header: 72px;

  --almost-white: #E6E5EA;
  --dark-grey: #24232C;
  --orange: #E18335;
  --very-dark-grey: #18171F;
  --grey: #777297;
}
body{
  margin: 0;
  font-family: 'Sofia Sans', sans-serif;
}
.smallP{
  font-size: var(--body-font);
  line-height: 25px;
  margin: 0;
}
.bodyP{
  font-size: var(--big-body-font);
  line-height: 30px;
  margin: 0;
}
.mediumHeader{
  font-size: var(--medium-header);
  line-height: 51px;
  margin: 0;
}
.largeHeader{
  font-size: var(--large-header);
  line-height: 84px;
  margin: 0;
}
.headingPage{
  margin: 0 auto;
  background: var(--very-dark-grey);
}
.inner{
  width: 73.75rem;
  margin: 0 auto;
}
.navHeader{
  font-family: 'Sofia Sans', sans-serif;
  color: var(--orange);
}
.headingPage{
  padding: 1rem;
}
.heading{
  margin-top: 2rem;
}
.heading p{
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 700;
  color: white;
}
#slack{
  color: var(--orange);
  text-decoration: none;
}
#slack:hover{
  border-bottom: 3px solid var(--orange);
}
#slackhref{
  text-decoration: none;
}
.subText{
  margin-top: 2rem;
}
.subText .smallP{
  font-family: 'Sofia Sans', sans-serif;
  color: white;
  font-size: 16px;
}
#myPic{
  border-radius: 10px;
}
.aboutMe{
  margin-top: 4rem;
}
.mediumHeader .aboutMe{
  font-size: var(--medium-header);
}
.aboutMeFlex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rightAboutMe{
  width: 32.5rem
}
.rightAboutMe .smallP{
  font-family: 'Public Sans', sans-serif;
  text-align: justify;
  margin-top: 1rem;
}
.skill .smallP{
  color: var(--grey);
}
.skillFlex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.skillSection{
  margin-top: 4rem;
}
.sectionHeader{
  color: var(--orange);
  border-bottom: 3px solid var(--orange);
  width: fit-content;
}
.ExperienceSection{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.experiences{
  margin-top: 2rem;
}
.experience{
  width: 70%;
  margin: 0 auto;
}
.experiences:first-child{
  margin-top: 0;
}
.experienceDescription{
  margin: 0;
  margin-top: .5rem;
  padding-left: 1rem;
}
.experienceBullet{
  font-family: 'Public Sans', sans-serif;
  font-size: var(--body-font);
  margin-top: .2rem;
  text-align: justify;
}
.topExperience{
  display: flex;
  justify-content: space-between;
}
.projects{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project a{
  color: black;
  text-decoration: none;
}
.project a:hover{
  color: var(--orange);
}
.project img{
  border: 1px solid var(--very-dark-grey);
}
.project .smallP{
  color: var(--grey);
}
.bar{
  height: 75px;
  width: 5px;
  background-color: #18171F;
}
.bar.selected{
  background-color: var(--orange);
}
.leftBarExperience{
  display: flex;
}
.ExperienceName{
  width: fit-content;
  height: fit-content;
  margin: auto 0;
  margin-left: .5rem;
  font-size: var(--big-body-font);
  cursor: pointer;
}
.ExperienceName:hover{
  color: var(--orange);
}
.experienceHeader{
  display: flex;
}
.ExperienceExperiment{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
  height: 15rem;
}
#experienceTitle{
  margin-right: 5px;
}
.rightExperience{
  width: 33rem;
}
#company{
  color: var(--orange);
  font-size: var(--big-body-font);
}
.ExperienceName.selected{
  color: var(--orange);
}
.contactSection{
  text-align: center;
  margin: 4rem 0;
}
.contactSection .mediumHeader{
  color: var(--orange);
}
.contactMessage{
  width: 50rem;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: 'Public Sans', sans-serif;
}
.footer{
  background-color: var(--dark-grey);
  height: 5rem;
}
.footerInner{
  display: flex;
  color: var(--almost-white);
}
.footer .inner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.iconLinks{
  width: 8.125rem;
  display: flex;
  justify-content: space-between;
}
.icon:hover{
  cursor: pointer;
}
#sendMessage{
  background-color: black;
  margin-top: 2rem;
  border: none;
}
#sendMessage a{
  color: white;
  font-size: var(--big-body-font);
  font-family: 'Sofia Sans', sans-serif;
  text-decoration: none;
}
#sendMessage:hover{
  background-color: var(--orange);
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  :root{
    --body-font: 18px;
    --big-body-font: 22px;
    --medium-header: 32px;
    --large-header: 52px;
  }
  .inner {
    width: 90%;
  }
}
@media only screen and (max-width: 912px){
  #macrocounter, #pokedex, #trilogy {
    height: 200px;
  }
  #myPic{
    width: 250px;
  }
}
@media only screen and (max-width: 900px){
  .ExperienceExperiment{
    height: auto;
  }
  .headingPage{
    width: 100%;
    padding: 1rem 0;
  }
  .contactMessage{
    width: auto;
  }
  .rightAboutMe{
    width: 25rem;
  }
  .rightExperience{
    width: 25rem;
  }
  .footer{
    width: 100%;
  }
}
@media only screen and (max-width: 600px){
  .projects{
    display: block;
  }
  .aboutMeFlex{
    display: block;
    text-align: center;
  }
  .leftAboutMe{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }
  .projects{
    text-align: center;
  }
  .rightAboutMe .sectionHeader{
    margin: 0 auto;
  }
  .rightAboutMe{
    width: fit-content;
    margin-top: 1rem;
  }
  .rightAboutMe .smallP{
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .ExperienceExperiment{
    display: block;
  }
  .rightExperience{
    margin-top: 2rem;
    width: 100%;
  }
  .project{
    margin-top: 2rem;
  }
  .project:first-child{
    margin-top: 0;
  }
  .skillSection{
    text-align: center;
  }
  .sectionHeader{
    margin: 0 auto;
  }
  .skillFlex>* {
    flex: 1 1 160px;
  }
  .footer .inner {
    display: block;
    padding-top: .75rem;
    height: fit-content;
  }
  .iconLinks{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: .25rem;
  }
  .footerInner{
    margin: 0 auto;
    width: fit-content;
  }
}
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%)
  }

  100% {
      transform: translateX(0);
  }
} 